/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 /* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 400px;
  display: flex;
  justify-content: flex-end;
  padding: none;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #ACACAC;
  border: none;
  background: transparent;
  position: absolute;
  right: 1%;
  top: 1px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 15px;
  outline: none;
  select {
    padding: none;
  }
}

.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

#menu_category_id {
  height: 45px !important;
  border: none;
  box-shadow: none;
  width: 103%;
  margin-left: -3%;
  font-size: 15px;
}

#guests_number {
  height: 45px !important;
  border: none;
  box-shadow: none;
  width: 90%;
  margin-left: -3%;
  font-size: 15px;
}

.container-grey {
  background-color: silver;
}
.search-card {
  background-color: white;
  padding: 7%;
  border-radius: 2px;
}


