/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 /* Navbar search form */
.navbar-wagon-search {
  flex: 1 1 400px;
  display: flex;
  justify-content: flex-end;
  border-radius: 2px;
  padding: none;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #A0A3A3;
  border: none;
  background: transparent;
  // position: absolute;
  right: 1%;
  top: 1px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 1 1 0;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 15px;
  outline: none;
  background-color: white;
  select {
    padding: none;
  }
}

.navbar-wagon-search-input-price {
  flex: 1 1 0;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  width: 40px;
  box-shadow: none;
}

.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

#menu_category_id {
  height: 45px !important;
  border: none;
  box-shadow: none;
  width: 108%;
  margin-left: -4%;
  font-size: 15px;
}

#guests_number {
  height: 45px !important;
  border: none;
  box-shadow: none;
  width: 92%;
  margin-left: -4%;
  font-size: 15px;
}

.container-grey {
  background-color: #F5F5F5;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  padding-top: 5%;
  background-attachment: fixed;

}
.search-card {
  background-color: #F3EFF5;
  padding: 2px;
  border-radius: 5px;
}

.form-control {
  height: 47px !important;
  color: #770A28 !important;
  width: 97% !important;
}

#text-welcome {
  margin-bottom: 5%;
}

#text-header {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #F3EFF5;
}

.wrapper-white {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 33px;
  margin-bottom: 9px;
}

h2.text-center {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

#main_h1 {
  font-size: 55px;
  font-family: "Cabin", sans-serif;
}

img {
  padding-bottom: 5px;
}

.search-price {
  border: none;
  box-shadow: none;
  font-size: 15px;
}
