.menu-picture {
  padding: 150px;
  position: relative;
  border-radius: 5px;
  background-size: cover;
}

.menu-picture > h2 {
  position: absolute;
  top: 2px;
  left: 5px;
  margin-top: 2px;
}

.menu-header {
  margin: 10px 0px 10px 0px;
}

.menu-profile {
  margin: 10px;
  height: 300px;
}


.menu-profile, .menu-content {
  background-color: #F2ECDC;
  border-radius: 5px;
}

.menu-content {
  position: relative;
  padding: 5px;
}

.menu-content > .menu-price {
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.menu-content > .menu-guests {
  position: absolute;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.avatar-super-large {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

.menu-profile, .menu-booking, .menu-content {
    font-family: 'Old Standard TT', serif;
}

.menu-picture > h2 {
  font-size: 50px;
  font-family: 'Cabin', sans-serif;
}

.btn-booking {
  width: 92.5% !important;
}

