.menu-picture {
  padding: 150px;
  position: relative;
  border-radius: 5px;
  background-size: 100%;
  h2 {
  position: absolute;
  top: 2px;
  left: 5px;
  margin-top: 2px;
  font-size: 50px;
  font-family: 'Cabin', sans-serif;
  }
}

.menu-header {
  margin-bottom: 10px;
}

.menu-profile {
  margin: 0;
  padding-left: 0;
  height: 300px;
}


.menu-profile, .menu-content {
  background-color: white;
  border-radius: 5px;
}

.menu-content {
  position: relative;
  padding: 5px;
  hr {
    margin: 10px;
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.avatar-super-large {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

.menu-profile, .menu-booking, .menu-content {
  font-family: 'Old Standard TT', serif;
}

.btn-booking {
  width: 100% !important;
}

.container {
  padding: 50px;
}

.nopadding {
 padding: 0 !important;
}

