<%= simple_form_for(booking_new_path) do |f| %>
<%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, label: "Tell us a bit about your diner..." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Book it while it's hot!", class: "btn btn-success booking-button" %>
  </div>
<% end %>
