<div id="footer">
  <div class="flexbox">
    <ul class="list-inline">
      <li>
        <a href="youtube.com"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="instagram.com"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="facebook.com"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="twitter.com"><i class="fa fa-twitter"></i></a>
      </li>
    </ul>
    <p>This is a Cookers cooks' challenge @Le Wagon</p>
  </div>
</div>
