// Your footer style
//--- Footer

#footer {
  background: #770A28;
  margin-bottom: 0px;
  padding: 20px 0 10px 5px;
  margin-top: 10px;
}

#footer ul a {
  color: #F4F5F4;
  font-size: 30px;

}

#footer ul a:hover {
  color: #F0175B;
}


#footer p {
  color: #F4F5F4;
  margin-top: 13px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
